<h2 mat-dialog-title>Ajouter une planche</h2>
<mat-dialog-content>
  <p>Ajouter un nom</p>
  <mat-form-field>
    <mat-label>Nom</mat-label>
    <input matInput [(ngModel)]="name"/>
  </mat-form-field>
  <p>Ajouter un nom</p>
  <mat-form-field>
    <mat-label>Marque</mat-label>
    <input matInput [(ngModel)]="brand"/>
  </mat-form-field>
  <p>Ajouter shape</p>
  <mat-form-field>
    <mat-label>Shape</mat-label>
    <input matInput [(ngModel)]="shape"/>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="{name: name(), brand: brand(), shape: shape()}" cdkFocusInitial>Ok</button>
</mat-dialog-actions>