
<mat-toolbar color="primary">
    <button mat-icon-button>
        <mat-icon>menu</mat-icon>
    </button>
    <button class="title-menu" routerLink="" mat-button>OceanGraph</button>
    <button class="title-menu" routerLink="gallery" mat-button>GALERIE</button>
    <span class="fill-remaining-space"></span>
    <button routerLink="contact" class="title-menu" mat-button>Nous contacter</button>
    <button class="title-menu" mat-button [matMenuTriggerFor]="menu">Administrateur</button>
    <mat-menu #menu="matMenu">
        <button routerLink="boards" mat-menu-item>Planche</button>
        <button routerLink="users" mat-menu-item>Utilisateurs</button>
        <button mat-menu-item>Tableaux</button>
    </mat-menu>
    <button mat-button class="title-menu" routerLink="login">Connexion / Inscription</button>
    <button *ngIf="1==2" mat-button>Logout</button>
</mat-toolbar>
